/* 로딩 화면 스타일 */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-logo {
    width: 100px;
    animation: fadeInOut 1.5s ease-in-out infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

/* 앱바 스타일 */
.appbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #3757e5;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
}

/* 메인 콘텐츠 */
#mainContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* 메뉴바 설정 */
#menuBar {
    position: absolute;
    /* padding: 10px; */
    top: 80px; /* 앱바 아래로 위치 */
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    z-index: 90;
}
#menuBar button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;  /* 기본 커서 */
    position: relative;
}

/* 드래그 앤 드롭 툴박스 설정 */
#toolbox {
    position: absolute;
    top: 150px;  /* 화면 상단에서 20px 떨어진 위치 */
    left: 30px;  /* 화면 좌측에서 20px 떨어진 위치 */
    z-index: 10;  /* 다른 요소들 위에 표시되도록 설정 */
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 캔버스 설정 */
#drawingCanvas {
    border: 1px solid grey;
    margin-top: 130px;
    width: 100%;
    height: calc(100vh - 120px); /* 앱바, 메뉴바 제외한 높이 */
    margin-bottom: 40px;
}
/* 캔버스 크기 설정 메뉴 */
#canvasSizeMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
#canvasSizeMenu input {
    width: 100px;
    margin: 5px;
}
#canvasSizeMenu button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}
/* 버튼 스타일 */
button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;  /* 기본 커서 */
    position: relative;
    z-index: 1;  /* 상위 레벨로 배치 */
}

.button:active {
    cursor: grabbing;  /* 드래그 상태에서 손 모양 */
}

.button:hover {
    background-color: #3757e5;  /* hover 상태에서 배경 색상 */
}

/* 툴박스 드래그 기능을 위한 스타일 */
.draggable {
    cursor: grabbing; /*move;*/
}
/* Style for the select dropdown */
#fileTypeSelect {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}

/* Style for the export button */
#exportBtn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style for the export button on hover */
#exportBtn:hover {
    background-color: #0056b3;
}

/* Optional: Style for the container (e.g., center the elements) */
#fileTypeSelect, #exportBtn {
    display: inline-block;
    margin: 10px;
}

/* 푸터 설정 */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 6px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    color: #ffcc00;
    text-decoration: underline;
}
